<div class = "page">
<br><br><br>
<div class="container">
  <div class ="row">

    <%# ジャンル検索の枠 %>
    <div class ="col-sm-2">
      <div class = "genre_search">
      <h4>ジャンル検索</h4>
      </div>
      <%# eachでジャンル一覧を拾って並べてる。ジャンル名クリックでジャンル内商品一覧ページへ %>
      <div class = "genre">
        <br>

        <% @genres.each do |genre| %>
        <%= link_to genre.name, items_path(genre_id: genre.id) %>   <br><br>
        <% end %>

      </div>
    </div>
    <%# ジャンル検索ここまで %>

    <%# 説明とおすすめ商品一覧 %>
    <div class = "col-sm-offset-1 col-sm-9">
      <div class = "top-image">
        <div class = "top-text">
        ようこそ、Nagano Cakeへ！<br>
        長野県名産のプルーンをふんだんに使った、<br>
        知る人ぞ知るケーキ屋さんです！<br>
        </div>
      </div>
      </div>
      </div>


      <div class="row">
        <div class ="col-sm-offset-2">
            <div class = "recommend"><br>
              <h3><b>おすすめ商品</b></h3>
            </div>
        </div>
      </div>

      <div class="row">
        <div class=" col-sm-offset-2 col-sm-9">
          <div class = "row">
            <% @items.each do |item| %>
              <%= link_to item_path(item.id) do %>
              <div class = "col-sm-3">
                <%= attachment_image_tag item, :image, :size => '200x140', fallback:"no_image.jpg" %><br>
                <%= item.name %><% end %><br>
                <%= item.price %>円
                <% if item.sale_status == "販売停止中" %>
                <span class="label label-danger"> 売り切れ</span>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>


      <%# item一覧へのリンク %>
      <div class ="show-more">
        <%= link_to "もっと見る>>", items_path %>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
