<div class = "container">
  <div class = "row">
    <div class = "col-md-offset-1 col-mid-10 "><br><br>
      <div><h3><%= @customer.last_name + " " + @customer.first_name %>さんの会員情報</h3></div>
    </div><br>
  </div>

  <table class="row table">
    <tr>
      <th class="col-md-2">顧客ID</th>
      <td class="col-md-10">
        <%= @customer.id %>
        <% if @customer.validness == true %>
        <%# 後でボタンっぽくする ここで有効無効切り替える必要ある？%>
          ☆有効
        <% else %>
        <%# 後でボタンっぽくする ここで有効無効切り替える必要ある？%>
          ★退会
        <% end %>
      </td>
    </tr>

    <tr>
      <th class="col-md-2">氏名</th>
      <td class="col-md-10">
        <%= @customer.last_name + " " + @customer.first_name %>
      </td>
    </tr>

    <tr>
      <th class="col-md-2">フリガナ</th>
      <td class="col-md-10">
        <%= @customer.last_name_kana + " " + @customer.first_name_kana %>
      </td>
    </tr>

    <tr>
      <th class="col-md-2">郵便番号</th>
      <td class="col-md-10">
        <%= @customer.postcode %>
      </td>
    </tr>

    <tr>
      <th class="col-md-2">住所</th>
      <td class="col-md-10">
        <%= @customer.address %>
      </td>
    </tr>

    <tr>
      <th class="col-md-2">電話番号</th>
      <td class="col-md-10">
        <%= @customer.telephone_number %>
      </td>
    </tr>

    <tr>
      <th class="col-md-2">メールアドレス</th>
      <td class="col-md-10">
        <%= @customer.email %>
      </td>
    </tr>

    <tr>
      <th class="col-md-3">
      <%= link_to "編集する", edit_admin_customer_path(@customer)%>　　
      <%# 注文履歴は「該当会員が注文した履歴一覧」のこと？　一旦全注文の履歴のリンクで記述 %>
      <%= link_to "注文履歴一覧を見る", admin_orders_path %>
      </th>

    </tr>
  </table>
</div>
