<div class = "container">
  <div class = "row">
    <div class = "col-sm-offset-1 col-md-10 "><br><br>
      <div><h3><%= @customer.last_name + " " + @customer.first_name %>さんの会員情報</h3></div>
    </div><br>
  </div>

<div class= "row">
<div class = "col-sm-5">
  <table class="row table">
    <tr>
      <th class="col-sm-3">顧客ID</th>
      <td class="col-sm-10">
        <%= @customer.id %>
        <% if @customer.validness == true %>

          <span class="label label-primary">有効</span>
        <% else %>
        
          <span class="label label-danger">退会済</span>
        <% end %>
      </td>
    </tr>

    <tr>
      <th class="col-sm-2">氏名</th>
      <td class="col-sm-10">
        <%= @customer.last_name + " " + @customer.first_name %>
      </td>
    </tr>

    <tr>
      <th class="col-sm-2">フリガナ</th>
      <td class="col-sm-10">
        <%= @customer.last_name_kana + " " + @customer.first_name_kana %>
      </td>
    </tr>

    <tr>
      <th class="col-sm-2">郵便番号</th>
      <td class="col-sm-10">
        <%= @customer.postcode %>
      </td>
    </tr>

    <tr>
      <th class="col-sm-2">住所</th>
      <td class="col-sm-10">
        <%= @customer.address %>
      </td>
    </tr>

    <tr>
      <th class="col-sm-2">電話番号</th>
      <td class="col-sm-10">
        <%= @customer.telephone_number %>
      </td>
    </tr>

    <tr>
      <th class="col-sm-2">メールアドレス</th>
      <td class="col-sm-10">
        <%= @customer.email %>
      </td>
    </tr>
    </table></div>
    </div>

    <div class = "row">
      <div class="col-sm-4">
      <h4><%= link_to edit_admin_customer_path(@customer) do %><span class="label label-primary">編集する</span><% end %>　
      <%= link_to admin_path(@customer) do %><span class="label label-primary">注文履歴一覧を見る</span><% end %>
      </div></h4>
  </div>
</div>
