<div class = "container">
  <div class = "row">
    <div class = "col-md-offset-1 col-mid-10 "><br><br>
      <div><h3>注文履歴詳細</h3></div>
    </div><br>
  </div>

  <table class="row table">
    <tr>
      <th class="col-md-2">購入者</th>
      <td class="col-md-10">
        <%# 購入者氏名 %>
        <%= link_to admin_customer_path(@order.customer.id) do %>
        <%= @order.customer.last_name + " " + @order.customer.first_name %>
        <% end %>
      </td>
    </tr>

    <tr>
      <th class="col-md-2">配送先</th>
      <td class="col-md-10">
        <%# 宛名+配送先 %>
        <%= @order.name %><br>
        <%= @order.address %>
      </td>
    </tr>

    <tr>
      <th class="col-md-2">支払方法</th>
      <td class="col-md-10">
        <%# 支払い方法 %>
        <%= @order.payment_method %>
      </td>
    </tr>

    <tr>
      <th class="col-md-2">注文ステータス</th>
      <td class="col-md-10">
        <%# 注文ステータス　プルダウンと更新ボタン %>
        <%= form_with(model:[@order], url: admin_order_path) do |f| %>
        <%= f.select :status, [["入金待ち","入金待ち"],["入金確認","入金確認"],["製作中","製作中"],["発送準備中","発送準備中"],["発送済み","発送済み"]] %>
        </td>
        <td><%= f.submit "更新" %></td>
        <% end %>

      </td>
    </tr>
</table>

    <table class="row table">
      <thead>
      <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
        <th>製作ステータス</th>
        <th>更新ボタン</th>
        </tr>
      </thead>

      <tbody>
      <% @sum_price = 0%>
      <% @order_items.each do |order_item| %>
      <% if order_item.order_id == @order.id %>
      <%# ↓注文商品の税込単価 %>
      <% order_price_including_tax = order_item.order_price * 1.1 %>
      <%# ここまで %>
      <tr>
        <td><%= order_item.item.name %> </td>
        <td><%= order_price_including_tax.floor %></td>
        <td><%=order_item.quantity %></td>
        <td><% subtotal_price = order_price_including_tax.floor * order_item.quantity %>
            <%= subtotal_price %> </td>
            <% @sum_price += subtotal_price %>
        <td>
        <%# model: order_itemは@order.order_itemsだから注文商品を指定している？ %>
        <%= form_with(model:[order_item], url: admin_order_order_item_path(order_id: @order.id, id: order_item.id)) do |f| %>
        <%= f.select :production_status, [["着手不可","着手不可"],["製作待ち","製作待ち"],["製作中","製作中"],["製作完了","製作完了"]] %>
        </td>
        <td><%= f.submit "更新" %></td>
        <% end %>
        <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>

    <table class="row table">
      <tr>
        <th>商品合計</th>
        <td>

          <%= @sum_price %>円


      </tr>

      <tr>
        <th>送料</th>
        <td><%= @order.carriage %>円</td>
      </tr>

      <tr>
        <th>請求額</th>
        <td><%= @order.total_price %>円</td>
      </tr>
    </table>
</div>
