<header>
	<div class="container">
		<nav class="navbar navbar-default row">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample4">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/admin/">
				</a>
			</div>

			<% if admin_signed_in? %>
<!-- コントローラー（アイテム、カスタマー、オーダー、ジャンル）をいじりたい -->
				<div class="collapse navbar-collapse navbar-right" id="navbarEexample4">
				<div class="dropdown">
					<button class="btn btn-defult navbar-btn dropdown-toggle" data-toggle="dropdown">商品一覧</button>
					<ul class="dropdown-menu" role="menu">
						<li role="presentation"><%= link_to "全商品一覧", admin_items_path %></li>
						<% Genre.all.each do |genre| %>
						<li role="presentation"><%= link_to genre.name, admin_items_path(genre_id: genre.id) %></li>
						<% end %>
					</ul>
				</div>
				<div class="dropdown">
					<button class="btn btn-defult navbar-btn dropdown-toggle" data-toggle="dropdown">会員一覧</button>
					<ul class="dropdown-menu" role="menu">
						<li role="presentation"><%= link_to "全会員一覧", admin_customers_path %></li>
						<li role="presentation"><%= link_to "有効会員", admin_customers_path(validness: true) %></li>
						<li role="presentation"><%= link_to "退会済み会員", admin_customers_path(validness: false) %></li>
					</ul>
				</div>
				<div class="dropdown">
					<button class="btn btn-defult navbar-btn dropdown-toggle" data-toggle="dropdown">注文履歴一覧</button>
					<ul class="dropdown-menu" role="menu">
						<li role="presentation"><%= link_to "全注文履歴", admin_orders_path %></li>
						<li role="presentation"><%= link_to "本日の注文", admin_todays_order_path %></li>
						<li role="presentation"><%= link_to admin_orders_path(status: "入金待ち") do %>
							入金待ちの注文　<%= Order.where(status: "入金待ち").count %>件<% end %>
						</li>
						<li role="presentation"><%= link_to admin_orders_path(status: "入金確認") do %>
							入金確認の注文　<%= Order.where(status: "入金確認").count %>件<% end %>
						</li>
						<li role="presentation"><%= link_to admin_orders_path(status: "製作中") do %>
							製作中の注文　<%= Order.where(status: "製作中").count %>件<% end %>
						</li>
						<li role="presentation"><%= link_to admin_orders_path(status: "発送準備中") do %>
							発送準備中の注文　<%= Order.where(status: "発送準備中").count %>件<% end %>
						</li>
						<li role="presentation"><%= link_to admin_orders_path(status: "発送済み") do %>
							発送済みの注文　<% end %>
						</li>
					</ul>
				</div>
				<div class="dropdown">
					<button class="btn btn-defult navbar-btn dropdown-toggle" data-toggle="dropdown">ジャンル</button>
					<ul class="dropdown-menu" role="menu">
						<li role="presentation"><%= link_to "ジャンル一覧", admin_genres_path %></li>
						<li role="presentation"><%= link_to "有効ジャンル", admin_genres_path(valid_flag: "有効") %></li>
						<li role="presentation"><%= link_to "無効ジャンル", admin_genres_path(valid_flag: "無効") %></li>
					</ul>
				</div>
				<div class="dropdown">
					<button class="btn btn-defult navbar-btn dropdown-toggle" data-toggle="dropdown">ログアウト</button>
					<ul class="dropdown-menu" role="menu">
						<li role="presentation"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
					</ul>
				</div>
				</div>

				<div class="collapse navbar-collapse navbar-right" id="navbarEexample4">
					<div class="navbar-form" role="search">
						<div class="input-group">
						<%# 検索フォーム %>
							<%= form_tag(admin_search_path, method: :get) do %>
								<%= select_tag 'search[model]', options_for_select({ "顧客名検索" => "customer", "商品名検索" => "item"}) %>　
								<%= text_field_tag 'search[content]'%>　
								<span class="input-group-btn">
								<%= submit_tag "検索", class: "btn btn-default " %>
								</span>
							<% end %>
							<!-- 検索フォームここまで -->
						</div>
					</div>
				</div>
				
			<% else %>
				<div class="collapse navbar-collapse navbar-right" id="navbarEexample4">
					<%= link_to "ログイン", new_admin_session_path, class: "btn btn-default navbar-btn" %>
				</div>
			<% end %>
		</nav>
	</div>
</header>
