<div class="main">
<div class="container">
	<div class="row">
    <br><br><br> <div class = "col-sm-offset-1 headline">注文情報確認</div>
<%= form_for(@order, url:orders_path) do |f| %>
<div class="confirm_content">
<div class="col-sm-8">
<br><table class="table table-bordered">
<thead>
    <tr class="active">
        <th>商品名</th>
        <th class="col-sm-2">単価（税込）</th>
        <th class="col-sm-1">数量</th>
        <th class="col-sm-2">小計</th>
    </tr>
</thead>
<tbody>
        <% @sum_price = 0 %>
        <% @cart_items.each do |cart_item| %>
            <% if cart_item.customer_id == current_customer.id %>
        <tr>
            <td>
                <%= attachment_image_tag cart_item.item, :image, fallback: "no_image.jpg", size:'100x80' %>
                <%= cart_item.item.name %>
            </td>
            <td>
                <% price_including_tax = cart_item.item.price * 1.1 %>
                <%= price_including_tax.floor %>
            </td>
            <td><%= cart_item.quantity %></td>
                    <td>
                <% subtotal_price = price_including_tax.floor * cart_item.quantity %>
                <%= subtotal_price.floor %>
            </td>
        </tr>
        <% @sum_price += subtotal_price.floor %>
            <% end %>
        <% end %>
</tbody>
</table>
</div>
<br><div class="col-sm-4">
<table class="table table-bordered">
    <tr>
        <th class="active">送料</th>
        <td><%= @order.carriage %></td>
    </tr>
    <tr>
        <th class="active">商品合計</th>
        <td><%= @sum_price %></td>
    </tr>
    <tr>
        <th class="active">請求金額</th>
        <td><%= @order.total_price = @order.carriage + @sum_price%></td>
    </tr>

</table>
</div>
</div>
<br><h4>支払方法</h4><%= @order.payment_method %>
<h4>お届け先</h4>
    <%= hidden_field_tag :address_select, @address_select %>
    <%= @order.postcode %>　<%= @order.address %>　<%= @order.name %>
<%= f.hidden_field :carriage, value: @order.carriage %>
<%= f.hidden_field :payment_method, value:@order.payment_method %>
<%= f.hidden_field :postcode, value:@order.postcode %>
<%= f.hidden_field :address, value:@order.address %>
<%= f.hidden_field :name, value:@order.name %>
<%= f.hidden_field :total_price, value:@order.total_price %>
<div class="success_btn">
    <br><%= f.submit '購入を確定する', class: "btn btn-success", id:"cart_success_btn" %>
</div>
<% end %>
</div>
</div>
</div>
</div>
