<div class = "container">
  <div class = "row">
    <div class = "col-sm-offset-2">
      <br><h3>会員の方はこちらからログイン</h3><br><br>
    </div>
    </div>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class = "row">
      <div class = "col-sm-offset-3 col-sm-6">
        <table class ="table-no-border">



  <div class="field">
                    <tr>
                      <th>メールアドレス</th>
                      <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
                    </tr>
                    </div>

  <div class="field">
                    <tr>
                      <th>パスワード</th>
                        <td>
                        <%= f.password_field :password, autocomplete: "current-password" %>
                      </td>
                    </tr>
                  </div>
<th></th>
<td class = "forget-password">
<%= link_to "=>パスワードを忘れた方はこちら", new_customer_password_path%></td>
                  </table>

  <div class="actions">
    <%= f.submit "ログイン", class: "btn btn-primary" %>
  </div>
<% end %>
</div>
      </div>



<div class="row">
        <div class="col-sm-offset-2">
          <h3>登録がお済みでない方</h3>
        </div>

        <div class="row">
          <div class="col-sm-offset-3">
            <%= link_to"こちら",new_customer_registration_path %>から新規登録を行って下さい。<br>
          </div>
</div>
</div>
</div>
