 <h2>商品一覧</h2>

 <div class ="col-sm-2">
 	<div class = "genre_search">
 		<h4>ジャンル検索</h4>
 	</div>
 	<div class = "genre">
 		<br>

 		<% @genres.each do |genre| %>
 		<% if genre.valid_flag =="有効" %>
 		<%= link_to genre.name, items_path(genre_id: genre.id) %><br>
 		<% end %>
 		<% end %>
 	</div>
 </div>

 <% @items.each do |item| %>
 <% if item.sale_status =="販売中" %>
 <tr>
 	<td>
 		<%= link_to "詳細" ,item_path(item.id) %>
 		<%= attachment_image_tag item, :image, :size => '200x140', fallback: 'no_image.jpg' %>
 		<%= item.name %>
 		<td><%= item.price %></td>
 	</tr>
 </tbody>

 <% end %>
 <% end %>




